.card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-size: cover;
    margin-left: 10%;
}
#main{ 
    text-align: center;
    color: green;
}
#todayWeather{ 
    width: 300px;
    color: green;
}
.col{
    text-align: center;
    height: 100%;
}
#wrapper {
    width: 20%;
    margin-top: 2%;
}
.button {
    position: absolute;
}
#search {
    width: 20%
}
#header {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 80%;
    overflow: auto;
}
#floatRight {
    text-align: right;
}
#weekly {
    height: 40%;
    border-top: 3px solid rgb(238, 240, 241);
    color: green;
    width: 80%;
}
#mainCard {
    height: 70vh;
}
body {
    background: url(../images/test.jpg);
}
#daily {
    height: 40%;
    border-top: 3px solid rgb(238, 240, 241);
    color: green;
    width: 80%;
}